.nav{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27292C;
    width: 10vw;
    height: 100vh;
    position: absolute;
}
.top-nav{
    display: flex;
    /* display: none; */
    align-items: center;
    background-color: #27292C;
    width: 100%;
    height: 10vh;
    position: absolute;
}
.title {
    margin-left: 350px;
    
}
#title-txt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 3px;
    
}

h1{
    margin :0;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    
}
h3{
    margin :0;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight:lighter;
}
p{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;

}
.icons{
    height: 600px;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.icons-top{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

Link {
    text-decoration: none;

}

    @media(max-width:1150px){
        .nav{
            display: none;
        }
        #title-txt{
            font-size: 30px;
            line-height: 20px;
            margin: 5px;
        }
        .title{
            margin: 0;
            display: flex;
        }
    }
    @media (min-width:1150px){
        .top-nav{
            display: none;
            width: 100%;
        }
    }
    @media(max-width:630px){
        .title{
            
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }
        .cmr{
            font-size: 10px;
        }
        h3{
            font-size: 14px;
        }
    }